<h1>Listing mentoras</h1>

<table>
  <tr>
  <th>Nome</th>
  <th>Contato</th>
  <th>Habilidades</th>
  </tr>

  <% @mentoras.each do |mentora| %>
    <tr>
      <td><%=mentora.nome %></td>
      <td><%=mentora.contato %></td>
      <td><%=mentora.habilidades %></td>
      <td><%=link_to 'Show', mentora_path(mentora)%></td>
      <td><%=link_to 'Edit', edit_mentora_path(mentora)%></td>
      <td><%=link_to 'Delete', mentora_path(mentora),
        data: { turbo_method: :delete, turbo_confirm: 'Certeza?'} %></td>
    </tr>
  <% end %>

  <td><%=link_to 'New', new_mentora_path%></td>
</table>
